<div class="wrapper">
  <div class="my-page d-flex justify-content-center flex-column justify-content-center">
    <div class="content">
      <h2 class="my-page-head">未来のあなたや大切な人にメッセージを送りましょう。</h2>
      <%= link_to'あなたへ贈る', new_message_path, class:'button btn-space' %>
      <%= link_to'大切な人に贈る', new_message_path, class:'button btn-space'%>
    </div>
  </div>
</div>
