<body>
    <div class="complete-wrapper">
      <div class="complete-content">
      <div class="you-message">
        <h2 ><%= "あなたのメッセージは#{@message.when_message}にくろちゃんへ届けられます。" %></h2></ <br>
        <h2>次はいつの誰に送りますか？</h2>
      </div>
           <%= link_to image_tag('/assets/logo.png'), classification_path  %>

    </div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type="text/javascript">
    $(function(){


        $('#appear').fadeIn(3000);



    });
    </script>

  </body>
