.input-box {
  height: 100%;
  background: #F5F0E7;
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
  background-position: center center;
  background-image: url(/assets/home.jpg);
 margin: 0;
 position:absolute; top:0px;
 width: 100%;
 background-size:150% auto;
 }

input,
select,
textarea {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
  font-size: 38px;
}
.input-form{
   text-align: center;
   margin: auto;
   margin-top: 100px;
   width: 300px;

}
.year{
  width: 300px;
  background: #fafafa;
  border: none;
  transition: border-color 0.3s;
  text-align: center;
}
.gazou{
  text-align: center;
}
.email-box{
  width: 400px;
}
.answer-box{
  width: 100%;
}
